header.container {
  height: 66px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0.5rem 1rem;

  /* background-color: red; */

  .hero {
    max-width: 150px;
  }

  .navigation {
    /* background-color: gold; */
    position: absolute;
    right: 5%;
    .urlList {
      display: flex;
      /* left: 70%;
      gap: 0.75rem; */
    }
  }
}
