html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-color);
  &[data-theme="dark"] {
    background-color: var(--dark-color);
    color: var(--text-color);
  }
  &[data-theme="sepia"] {
    background-color: var(--sepia-color);
  }
  color: var(--text-color);
}

:root {
  --primary-color: #cccccc;
  --secondary-color: #8685ef;
  --dark-color: #474554;
  --dark-jet-color: #313131;
  --dark-brown-color: #4d2929;
  --light-color: #f4f4f4;
  --classy-rose-quartz-color: #aca7cb;
  --classy-fuchsia1-color: #ff00ff;
  --classy-fuchsia2-color: #ff00ee;
  --sepia-color: #f1e7d0;

  [data-theme="light"] {
    --text-color: var(--dark-color);
  }
  [data-theme="dark"] {
    --text-color: var(--light-color);
  }
  [data-theme="sepia"] {
    --text-color: var(--dark-brown-color);
  }
}
/* blue print for screen size detection */
/* element render offscreen */
.screen-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
}
.screen-indicator:before {
  content: 'desktop';
}

/* small desktop */
@media all and (max-width: 1199px) {
  .screen-indicator:before {
      content: 'small-desktop';
  }
}

/* tablet */
@media all and (max-width: 1024px) {
  .screen-indicator:before {
      content: 'tablet';
  }
}

/* mobile phone */
@media all and (max-width: 767px) {
  .screen-indicator:before {
      content: 'mobile';
  }
}
